<div class="top-bar d-flex flex-column">
    <div class="container flex-grow-1 d-flex flex-column">
        <div class="row d-flex justify-content-around flex-grow-1 d-flex">
            <div class="col-md-8 d-flex flex-grow-1 align-items-center">
            </div>
            <div class="col-md-4 d-flex flex-grow-1 align-items-center justify-content-end">
                <div class="top-bar__user-identity d-flex align-content-between">
                    <div class="top-bar__user-identity__info d-flex flex-column align-items-end justify-content-center">
                        <p>user Name</p>
                        <p>user@email.com</p>
                    </div>
                    <div class="top-bar__user-identity__avatar ">UN</div>
                </div>
            </div>
        </div>
    </div>
</div>