
@use '@angular/material' as mat;
@use 'sass:map';

@mixin _pop-up($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground); 
    .pop-up{
        height: 100vh;
        width: 100%;
        $popup-bg: darken(mat.get-color-from-palette($background, 'app-bar'), 100%);
        background-color: rgba($popup-bg, 0.6);
        backdrop-filter: blur(2px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .pop-up__container{
            min-height: 509px;
            $popup-container-bg: mat.get-color-from-palette($background, 'app-bar');
            background-color: rgba($popup-container-bg, 0.9);
            backdrop-filter: blur(5px);        
            border-radius: 5px;
            margin-top: 100px;
            padding: 30px;
            position: relative;
            .pop-up__container__close{
                position: absolute;
                right: 15px;
                top: 15px;
            }
            .pop-up__container__header{
            }
            .pop-up__container__content{
            }
            .pop-up__container__footer{
            }
        }
    }
}