@use '@angular/material' as mat;
@use 'sass:map';

@mixin _pass-maker-popup($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);  
    
    .pass-maker{
        $background: mat.get-color-from-palette($background, 'background');            
        position: absolute;
        right: 10px;
        top:30%;
        background-color: rgba($background, 0.8);
        backdrop-filter: blur(10px);
        z-index: 99999;
        padding: 30px;
        border-radius: 4px;
        //&::before{
        //    content: "";
        //    position: absolute;
        //    top: -8px; /* Ajuste conforme necessário */
        //    left: calc(100% - 15px);
        //    transform: translateX(-50%);
        //    border-left: 8px solid transparent;
        //    border-right: 8px solid transparent;
        //    border-bottom: 8px solid $background;
        //}
        .mat-mdc-form-field-subscript-wrapper{
            display: none;
        }
        .pass-maker__input{
            margin-bottom: 30px;
        }
    }
}