<div class="pass-maker mat-elevation-z8"
     [style.height]="height + measurement"
     [style.width]="width + measurement">
  <form [formGroup]="keyForm" class="example-form">
    <div class="pass-maker__input">
        <mat-slide-toggle formControlName="passphrase">
          Passphrase
        </mat-slide-toggle>
    </div>
    <div class="pass-maker__input">
        <mat-form-field appearance="outline">
          <mat-label>Pass</mat-label>
          <input matInput formControlName="pass" minlength="4" maxlength="255">
        </mat-form-field>
    </div>
    <div class="pass-maker__input">
        <mat-form-field appearance="outline">
          <mat-label>Passphrase Words</mat-label>
          <input matInput formControlName="passphrase_words">
        </mat-form-field>
    </div>
    <div class="pass-maker__input">
        <mat-radio-group aria-label="Select an option" formControlName="passphrase_separetor">
            <mat-radio-button [value]="1" [checked]="keyForm.get('passphrase_separetor')?.value === 1">Underscore</mat-radio-button>
            <mat-radio-button [value]="2" [checked]="keyForm.get('passphrase_separetor')?.value === 2">Traço</mat-radio-button>
            <mat-radio-button [value]="3" [checked]="keyForm.get('passphrase_separetor')?.value === 3">Ponto</mat-radio-button>
            <mat-radio-button [value]="4" [checked]="keyForm.get('passphrase_separetor')?.value === 4">Vírgula</mat-radio-button>
        </mat-radio-group>
    </div>
  </form>
</div>
