@use '@angular/material' as mat;
@use 'sass:map';

@mixin _profile($theme) {
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
    
    .profile{
        padding-top: 80px;
        .profile__page-container__content{
            min-height: 509px;
            box-sizing: border-box ;
            overflow: hidden;
            padding: 30px;
            background-color: mat.get-color-from-palette($background, 'selected-button');            
            border-radius: 5px;
            position: relative;;
        }
    }
}