<nav class="profile-side-bar">
    <span>admin</span>
    <ul>
        <li><a [routerLinkActive]="['active']" routerLink="/dashboard">Dashboard</a></li>
        <li><a [routerLinkActive]="['active']" routerLink="/investments">Investimentos</a></li>
        <li><a [routerLinkActive]="['active']" routerLink="/brokerage-firms">Brokerage Firms</a></li>
    </ul>
    <span>Perfil</span>
    <ul>
        <li><a [routerLinkActive]="['active']" routerLink="/minha-conta">Minha conta</a></li>
        <li><a [routerLinkActive]="['active']" routerLink="/sair">Sair</a></li>
    </ul>
</nav>
