<div class="dashboard-top-header"></div>
<div class="dashboard">
    <div class="container">
        <div class="row d-flex justify-content-between dashboard__cards">
            <div class="col-lg-4 mb-2 mb-lg-0">
                <app-card>
                    <dashboard-status-card></dashboard-status-card>
                </app-card>    
            </div>
            <div class="col-lg-4 mb-2 mb-lg-0">
                <app-card>
                    <dashboard-status-card></dashboard-status-card>
                </app-card>    
            </div>
            <div class="col-lg-4">
                <app-card>
                    <dashboard-status-card></dashboard-status-card>
                </app-card>    
            </div>
        </div>
    </div>
</div>